.about {
  padding: 130px 0 130px 0;

  .about-wrap {
    display: flex;
    gap: 32px;
    margin-bottom: 130px;
  }

  .about-wrap:last-child {
    margin-bottom: 0;
  }

  .about-box {
    padding: 45px 0 45px 0;
  }

  .about-title {
    @extend %title;
    max-width: 520px;
    margin-bottom: 20px;
  }

  .about-text-first,
  .about-text-last {
    @extend %text;
    max-width: 608px;
    margin-bottom: 20px;
  }

  .about-text-last {
    margin-bottom: 50px;
  }

  .about-btn {
    @extend %btn-style;
    @extend %btn-transition;

    min-width: 148px;
    background-color: $btnTitleBgColor;
    color: $bodyButtonFormColor;

    &:hover,
    &:focus {
      @extend %btn-hover-focus;
      @extend %hover-focus-visual;
    }
  }

  .about-img {
    object-fit: cover;
  }
}
