%text {
  color: $textColor;
  line-height: 1.6;
}

%title {
  font-size: 56px;
  line-height: 1.3;
  font-weight: 500;
  color: $mainHeadColor;
}

%title-card {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
  color: $logoTitleColor;
}

%title-footer {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: $logoTitleColor;
}

%footer-items {
  font-size: 16px;
  line-height: 1.3;
  color: $logoTitleColor;
}

%title-feedback {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3;
  color: $logoTitleColor;
}

%price-style {
  font-size: 30px;
  font-weight: 500px;
  line-height: 1.1;
  color: $logoTitleColor;
}

%btn-style {
  display: block;
  padding: 16px 32px;
  border: 1px solid rgba(104, 90, 82, 0.46);

  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

%btn-hover-focus {
  color: $btnTitleBgColor;
  border: 1px solid rgba(104, 90, 82, 0.46);
  background-color: $bodyButtonFormColor;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

%btn-transition {
  transition: color, border, background-color, box-shadow,
    transform 400ms linear;
  transition-duration: 400ms;
}

%hover-focus-visual {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.4, 0.2, 0.1);
}
