.about {
  .feedback-box {
    padding: 30px 0 70px 0;
  }

  .feedback-img {
    object-fit: cover;
  }

  .feedback-title {
    @extend %title-feedback;
    margin-bottom: 12px;
  }

  .feedback-text {
    @extend %text;
    position: relative;
    max-width: 608px;
    margin-bottom: 79px;

    // Decor of the text

    .feedback-decor-begin {
      position: absolute;
      top: 1px;
      left: -17px;

      fill: $elementsColor;
    }

    .feedback-decor-end {
      position: absolute;
      top: 99px;
      left: 419px;
      transform: scaleX(-1);

      fill: $elementsColor;
    }
  }

  .feedback-title {
    @extend %title-feedback;
  }

  .feedback-position {
    margin-bottom: 22px;
    line-height: 1.2;
    color: $logoTitleColor;
  }
}

// Stars////
.feedback-stars {
  margin-bottom: 43px;

  .stars-icon {
    margin-right: 12px;
    fill: $ratingStarsColor;
  }
  .stars-icon:last-child {
    margin-right: 0;
  }
}

//Buttons-slide///
.feedback-slider {
  display: flex;
  gap: 20px;

  .feedback-btn {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid rgba(111, 181, 135, 0.15);
    background-color: $bodyButtonFormColor;

    .feedback-btn-icon {
      stroke: rgba(111, 181, 135, 0.15);
    }

    &:hover,
    &:focus {
      border-color: $elementsColor;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      .feedback-btn-icon {
        stroke: $elementsColor;
        // box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }
}

.feedback-btn:first-child {
  transform: scaleX(-1);
}
