.about {
  .feedback-box {
    padding: 30px 0 70px 0;
  }

  .feedback-img {
    object-fit: cover;
  }

  .feedback-title {
    @extend %title-feedback;
    margin-bottom: 12px;
  }

  .feedback-stars {
    margin-bottom: 43px;

    .stars-icon {
      margin-right: 12px;
      fill: $ratingStarsColor;
    }
    .stars-icon:last-child {
      margin-right: 0;
    }
  }

  .feedback-text {
    @extend %text;
    max-width: 608px;
  }
}
