.social-list {
  display: flex;
  gap: 27px;

  .social-icon {
    fill: $btnTitleBgColor;

    transition: fill, transform 400ms linear;

    &:hover,
    &:focus {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      animation: shake 0.5s ease-in-out infinite;
      animation-duration: 700ms;
      animation-timing-function: linear;
      animation-iteration-count: 1;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  50%,
  80% {
    transform: rotate(-10deg);
  }
  40%,
  60% {
    transform: rotate(10deg);
  }
}
