.hero-search-form {
  max-width: 326px;
  margin-bottom: 60px;
  .hero-search-form-wrap {
    position: relative;
    display: inline-block;
  }

  .hero-search-input {
    color: $heroFormTextColor;
    font-family: Red Hat Display;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.4;
    padding: 14px 48px 14px 16px;
    width: 326px;
    height: 48px;
    outline: none;
    border: none;
    background: $bodyButtonFormColor;

    &::placeholder {
      color: $heroFormTextColor;
      font-family: Red Hat Display;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 1.4;
    }

    &:focus {
      border: 2px solid $btnTitleBgColor;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  .hero-search-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    width: 32px;
    height: 32px;
    background: $btnTitleBgColor;
    border: none;
    &:focus {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
  .hero-search-icon {
    fill: $bodyButtonFormColor;
  }
}

//......FOOTER-INPUT....... //
