.page-header {
  background-color: $bgHeaderHeroColor;
  padding-top: 43px;
  padding-bottom: 64px;
  // outline: 2px solid green;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 30px;
    // outline: 2px solid green;
  }
}

.nav-menu {
  display: flex;
  gap: 40px;
  // outline: 2px solid green;
}

.nav-link {
  display: block;
  align-items: center;
  padding-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  color: $logoTitleColor;

  transition: color, text-shadow, transform 400ms linear;

  &:hover,
  &:focus {
    color: $textColor;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @extend %hover-focus-visual;
  }
}

//Button navigation//

.nav-btn-list {
  display: flex;
  gap: 10px;
  // outline: 2px solid green;

  .nav-btn {
    background-color: transparent;
    border: none;

    .nav-btn-icon {
      display: block;
      stroke: $logoTitleColor;

      transition: stroke, transform 400ms linear;

      &:hover,
      &:focus {
        stroke: $textColor;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @extend %hover-focus-visual;
      }
    }

    .custom-burg-icon {
      stroke: none;
      fill: $logoTitleColor;

      transition: fill, transform 400ms linear;

      &:hover,
      &:focus {
        stroke: none;
        fill: $textColor;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @extend %hover-focus-visual;
      }
    }
  }
}
