.page-header {
  background-color: $bgHeaderHeroColor;
  padding-top: 43px;
  padding-bottom: 64px;
  // outline: 2px solid green;
  .nav {
    display: flex;
    align-items: center;
    // outline: 2px solid green;
  }
}

.nav-menu {
  display: flex;
  gap: 40px;
  margin-right: 312px;
  // outline: 2px solid green;
}

.nav-link {
  display: block;
  align-items: center;
  padding-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $logoTitleColor;

  &:hover,
  &:focus {
    color: $textColor;
    transform: scale(1.1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color, text-shadow, transform 300ms linear;
  }
}

//Button navigation//

.nav-btn-list {
  display: flex;
  gap: 10px;
  // outline: 2px solid green;

  .nav-btn {
    background-color: transparent;
    border: none;

    .nav-btn-icon {
      display: block;
      stroke: $logoTitleColor;

      &:hover,
      &:focus {
        stroke: $textColor;
        transform: scale(1.1);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: stroke, filter, transform 300ms linear;
      }
    }

    .custom-burg-icon {
      stroke: none;
      fill: $logoTitleColor;

      transition: fill 300ms linear;
      transition: filter 300ms linear;

      &:hover,
      &:focus {
        stroke: none;
        fill: $textColor;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }
}
