.investors {
  // background-color: aqua;
  outline: 1px solid green;
  padding: 133px 0 130px 0;
}

.investors-list {
  display: flex;
  //погратись
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 43px;

  outline: 1px solid aqua;

  // .investors-list::before {
  //   border-top: 1px solid green;
  // }

  .investor-item {
    display: flex;
    margin-right: 120px;

    outline: 1px solid red;
  }

  .investor-item:nth-child(6n) {
    margin-right: 0;
  }

  .investor-link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $textColor;
  }
  .investor-icon {
    fill: currentColor;
  }
}
