.investors {
  // outline: 1px solid green;
  padding: 133px 0 130px 0;
}

.custom-box {
  margin: 0 32px;
}

.investors-list {
  display: flex;
  justify-content: center;
  padding-top: 43px;
  padding-bottom: 43px;
  border-bottom: 1px solid $lineInvestorsColor;
  border-top: 1px solid $lineInvestorsColor;

  .investor-item {
    width: calc((100% - 600px) / 6);
    margin-right: 120px;
  }

  .investor-item:last-child {
    margin-right: 0;
  }

  .investor-link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $textColor;
    &:hover,
    &:focus {
      fill: $textColor;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  .investor-icon {
    fill: currentColor;
  }
}
