.product {
  margin-bottom: 130px;
}
.product-title {
  @extend %title;
  margin-bottom: 20px;
}

.product-text-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  .product-text {
    @extend %text;
    max-width: 714px;
  }

  .product-link {
    display: flex;
    align-self: baseline;
  }

  .product-frame {
    margin-left: 8px;
  }

  .product-link,
  .product-frame {
    font-weight: 500;
    font-size: 24px;
    color: $logoTitleColor;

    &:hover,
    &:focus {
      color: $textColor;
      fill: $textColor;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
