.product-list {
  display: flex;
  // margin-bottom: 130px;

  .product-card {
    width: calc((100% - 40px) / 2);
    margin-right: 40px;
  }

  .product-card:nth-child(2n) {
    margin-right: 0;
  }
}

.product-card-container {
  padding: 20px 32px 32px 32px;
  border-bottom: 1px solid rgba(104, 90, 82, 0.19);
  border-right: 1px solid rgba(104, 90, 82, 0.19);
  border-left: 1px solid rgba(104, 90, 82, 0.19);

  .product-img {
    width: 100%;
    object-fit: cover;
  }

  .product-title-card {
    @extend %title-card;
    margin-bottom: 16px;
  }

  .product-text {
    @extend %text;
    margin-bottom: 48px;
  }

  .box-price {
    @extend %price-style;
    margin-left: auto;
  }
}

.product-box-footer {
  display: flex;
  align-items: center;

  .btn-buy {
    @extend %btn-style;
    margin-right: 24px;
    border: 1px solid rgba(104, 90, 82, 0.46);
    background: $btnTitleBgColor;
    color: $bodyButtonFormColor;

    &:hover,
    &:focus {
      @extend %btn-hover-focus;
    }
  }

  .btn-add {
    @extend %btn-style;
    border: 1px solid rgba(104, 90, 82, 0.46);
    background: $bodyButtonFormColor;
    color: $btnTitleBgColor;
    &:hover,
    &:focus {
      border: 1px solid rgba(104, 90, 82, 0.46);
      background: $btnTitleBgColor;
      color: $bodyButtonFormColor;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
