.product-title {
  @extend %title;
  margin-bottom: 20px;
}

.product-text-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  .product-text {
    @extend %text;
    max-width: 714px;
  }
  .product-frame-wrap {
    display: flex;
    align-self: baseline;

    .product-link {
      color: $logoTitleColor;
      font-weight: 500;
      font-size: 24px;
    }

    .product-frame-link {
      display: flex;
      align-items: center;
      margin-left: 8px;
    }
  }
}
