.swiper {
  outline: 1px solid blue;
  // position: absolute;
  // left: 11px;
  max-width: 796px;
}

.hero-slider-icon {
  // display: block;
  // position: relative;
  // z-index: index 3;
  stroke: $btnTitleBgColor;
}

.swiper-slide {
  width: 796px;
  height: 609px;
  // object-fit: contain;
}
