.swiper {
  position: absolute;
  outline: 1px solid green;

  max-width: 796px;
  margin-left: 0;
  padding-left: 0;
}

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   display: flex;
//   align-items: center;
// }

// .swiper-btn-container {
//   max-width: 145px;
// }

// .swiper-btn {
//   stroke: black;
// }
