$bodyButtonFormColor: #fff;
$textColor: #555555;
$logoTitleColor: #222222;
$btnTitleBgColor: #402F2C;
$mainHeadColor: #000000;
$ratingStarsColor: #FFC046;
$elementsColor: #6FB587;
$primaryBorderButtonColor: #685A5275;
$primaryBorderCardColor: #685A5230;
$lineInvestorsColor: #EEEEEE;
$primaryElementsColor: #6FB58726;
$heroFormTextColor:#999999;
$lineFooterColor: #DDDDDD;
$footerBgColor: #FAFAFA;
$statisticBgColor: #FDF8F5;
$bgHeaderHeroColor: #F9F6F5;



