$bodyButtonFormColor: #fff;
$textColor: #555555;
$logoTitleColor: #222222;
$btnTitleBgColor: #402f2c;
$mainHeadColor: #000000;
$ratingStarsColor: #ffc046;
$elementsColor: #6fb587;
$primaryBorderButtonColor: #685a5275;
$primaryBorderCardColor: #685a5230;
$lineInvestorsColor: #eeeeee;
$primaryElementsColor: #6fb58726;
$heroFormTextColor: #999999;
$lineFooterColor: #dddddd;
$footerBgColor: #fafafa;
$statisticBgColor: #fdf8f5;
$bgHeaderHeroColor: #f9f6f5;
